beautifultable==0.7.0
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
enum34==1.1.6
et-xmlfile==1.0.1
idna==2.8
imcsdk==0.9.6
jdcal==1.4
openpyxl==2.6.0
prettytable==0.7.2
pycryptodome==3.7.2
pyparsing==2.3.1
python-dateutil==2.7.5
requests==2.21.0
six==1.12.0
urllib3==1.24.2
